body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#numerosList {
    list-style: none;
    padding: 0;
}

.container {
    background-color: #ffd45d;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}